.navLink a,
header a {
    text-decoration: none;
    user-select    : none;
}

.navLink a {
    color: black;
}

.navLink .active div {
    color: #8f34ff;
    color: #640fdc;
}

main * {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}