* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

center {
    display         : flex;
    flex-direction  : column;
    height          : 100vh;
    justify-content : center;
    align-items     : center;
    background-color: rgb(255, 228, 228);
}

center h1 {
    font-size: 5rem;
    color    : rgb(255, 58, 58);
}

center a {
    text-decoration: none;
    font-size      : 1.5rem;
}