/* ----------------- PAGE TITLE COMPONENT ----------------- */
.pageTitle {
    display    : flex;
    align-items: center;
    width      : min-content;
}

.pageTitle svg {
    background   : linear-gradient(90deg, #640fdc 30%, #370779);
    color        : #fff;
    font-size    : 2.5rem;
    padding      : .4rem;
    border-radius: .4rem;
}

.pageTitle span {
    margin-left   : .5rem;
    font-size     : 1.2rem;
    font-weight   : 600;
    text-transform: uppercase;
    white-space   : nowrap;
    user-select   : none;
    color         : #555;
}

/* ================= PAGE TITLE COMPONENT ================= */


/* ----------------- COMMON ----------------- */
a {
    text-decoration: none;
}

.bg-light {
    background-color: #efefff44;
    border-radius   : 5px;
}

.headerGap {
    margin-top: 1rem;
}

.container-top {
    display        : flex;
    justify-content: space-between;
    align-items    : flex-start;
    flex-wrap      : wrap;
}

.container-top span {
    display       : flex;
    flex-direction: row;
    align-items   : stretch;
}

.container-top span>div {
    width: 300px;
}

.container-top span div input {
    width: 100%;
}

@media (max-width:760px) {
    .container-top {
        justify-content: flex-end;
    }

    .container-top>a>button {
        display: none;
    }
}

.space-between {
    display        : flex;
    justify-content: space-between;
}

/* ================= COMMON ================= */