/* ----------------- PAGE TITLE COMPONENT ----------------- */
.pageTitle {
    display    : flex;
    align-items: center;
    width      : min-content;
}

.pageTitle svg {
    background   : linear-gradient(90deg, #640fdc 30%, #370779);
    color        : #fff;
    font-size    : 2.5rem;
    padding      : .4rem;
    border-radius: .4rem;
}

.pageTitle span {
    margin-left   : .5rem;
    font-size     : 1.2rem;
    font-weight   : 600;
    text-transform: uppercase;
    white-space   : nowrap;
    user-select   : none;
    color         : #555;
}

/* ================= PAGE TITLE COMPONENT ================= */


/* ----------------- COMMON ----------------- */
a {
    text-decoration: none;
}

.bg-light {
    background-color: #efefff44;
    border-radius   : 5px;
}

.headerGap {
    margin-top: 1rem;
}

.container-top {
    display        : flex;
    justify-content: space-between;
    align-items    : flex-start;
    flex-wrap      : wrap;
}

.container-top span {
    display       : flex;
    flex-direction: row;
    align-items   : stretch;
}

.container-top span>div {
    width: 300px;
}

.container-top span div input {
    width: 100%;
}

@media (max-width:760px) {
    .container-top {
        justify-content: flex-end;
    }

    .container-top>a>button {
        display: none;
    }
}

.space-between {
    display        : flex;
    justify-content: space-between;
}

.showFeedbackList {
    list-style: none;
}

.showFeedbackList li {
    display        : flex;
    margin         : .4rem 0;
    justify-content: space-around;
    flex-wrap      : wrap;
}

.showFeedbackList li strong {
    min-width: 20rem;
}

.showFeedbackList li span {
    min-width : 9rem;
    text-align: left;
}

.showFeedbackList .text {
    justify-content: flex-start;
    margin-top     : 1rem;
}

.showFeedbackList .text strong {
    width: 100%;
}

.showFeedbackList .text span {
    display      : block;
    width        : 100%;
    height       : 5.5rem;
    overflow-y   : auto;
    border       : 1px solid #cdcdcd;
    padding      : .2rem .5rem;
    border-radius: 5px;
}

.textCenter {
    text-align: center;
}

.p1 {
    padding: 1rem;
}

.textLight {
    color: #777777;
}

/* ================= COMMON ================= */